* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: linear-gradient(
    -45deg,
    #041517,
    #041517,
    #041517,
    #0b2d31,
    #248e9a,
    #34ebff53,
    #248e9a,
    #0b2d31,
    #041517,
    #041517,
    #041517
  );
  background-size: 400%;
  animation: gradient 30s linear infinite forwards;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: url("./images/paintCursor.png"), default;
}

.canvas-cont {
  width: 700px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

#canvas {
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  width: 700px;
  height: 630px;
  background-color: rgb(228, 228, 228);
  margin-top: 10px;
}

.canvas-settings {
  gap: 12px;
  justify-content: start;
  display: flex;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 600;
}
.checkbox input {
  cursor: inherit;
}

#clear-canvas {
  margin-left: auto;
}

@media (max-width: 770px) {
  #canvas {
    width: 500px;
    height: 450px;
  }
  .canvas-cont {
    max-width: 500px;
  }
  .canvas-settings {
    flex-wrap: wrap;
  }

  #clear-canvas {
    align-self: flex-start;
    margin-right: auto;
    margin-left: 0;
  }
}
@media (max-width: 540px) {
  #canvas {
    width: 400px;
    height: 360px;
  }
  .canvas-cont {
    max-width: 400px;
  }
}
@media (max-width: 430px) {
  #canvas {
    width: 320px;
    height: 288px;
  }
  .canvas-cont {
    max-width: 320px;
  }
}
